
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt">
			<!-- <div class="block-header">
				<h2>
					TimeSheet Approval <small>TimeSheet requested need a
						approval </small>
				</h2>
			</div> -->

			<div class="card" data-ng-controller="timesheetcontroller">
				<div class="card-header">
					<h2>
						<small></small>
					</h2>
					<!-- <ul class="actions">
							<li class="dropdown" uib-dropdown><a href=""
								uib-dropdown-toggle> <i class="zmdi zmdi-more-vert"></i>
							</a>

								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="">Refresh</a></li>
									<li><a href="">Approve All</a></li>
									<li><a href="">Reject All</a></li>
								</ul></li>
						</ul> -->
				</div>

				<div class='table-responsive'>
					<!-- <div class="input-group">
									<input class="form-control" ng-model="searchText"
										placeholder="Search" type="search" ng-change="search()" /> <span
										class="input-group-addon"> <span
										class="glyphicon glyphicon-search"></span>
									</span>
								</div> -->
					<table class="table  table-hover data-table myTable">
						<thead>
							<tr>
								<th class="EmpId"><i class="zmdi zmdi-label zmdi-hc-fw">
								</i><a href="" ng-click="sort('employeeId',$event)">Employee Id
										<span class="{{Header[0]}}"></span>
								</a></th>
								<th class="name"><i
									class="zmdi zmdi-assignment-account zmdi-hc-fw"></i><a
									ng-click="sort('firstName')" href=""> First Name<span
										class="{{Header[1]}}"></span>
								</a></th>

								<th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
									ng-click="sort('lastName')" href=""> Last Name <span
										class="{{Header[2]}}"></span>
								</a></th>
								<th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
									ng-click="sort('weekStartDate')" href=""> From date <span
										class="{{Header[3]}}"></span>
								</a></th>
								<th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
									ng-click="sort('weekEndDate')" href=""> To Date <span
										class="{{Header[4]}}"></span>
								</a></th>
								<th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
									ng-click="sort('totalHours')" href=""> Total days <span
										class="{{Header[5]}}"></span>
								</a></th>
								<th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
									ng-click="sort('timesheetStatus')" href=""> Status <span
										class="{{Header[6]}}"></span>
								</a></th>
								<th class="Email"><i class="zmdi zmdi-city zmdi-hc-fw"></i><a
									href=""> Action <span class="{{Header[6]}}"></span>
								</a></th>


							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="item in ItemsByPage[currentPage] | orderBy:columnToOrder:reverse">
								<td>{{item.id.employeeId}}</td>
								<td>{{item.firstName}}</td>
								<td>{{item.lastName}}</td>
								<td>{{item.id.weekStartDate}}</td>
								<td>{{item.id.weekEndDate}}</td>
								<td>{{item.totalHours}}</td>
								<td>{{item.timesheetStatus}}</td>
								<td>
									<button data-swal-success-msg
										class="btn bgm-orange btn-icon waves-effect waves-circle"
										ng-click="approveTimeSheet(item)">
										<i class="zmdi zmdi-check"></i>
									</button>&nbsp;&nbsp;|&nbsp;&nbsp;
									<button data-swal-cancel-msg
										class="btn bgm-cyan btn-icon waves-effect waves-circle"
										ng-click="rejecttimeSheet(item)">
										<i class="zmdi zmdi-close"></i>
									</button>
								</td>


							</tr>
						</tbody>
					</table>
					<ul class="pagination pagination-sm">
						<li ng-class="{active:0}"><a href="" ng-click="firstPage()">First</a></li>
						<li ng-repeat="n in range(ItemsByPage.length)"><a href=""
							ng-click="setPage()" ng-bind="n+1">1</a></li>
						<li><a href="" ng-click="lastPage()">Last</a></li>
					</ul>



				</div>
			</div>

		</div>


	</section>
</section>