
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt">
			<!-- <div class="block-header">
				<h2>
					Update Employee List <small></small>
				</h2>
			</div> -->

			<div class="card" data-ng-controller="DatepickerDemoCtrl">
				<div class="card-header">
					<h2>
						Update User Details<small></small>
					</h2>
					<div class="card-body card-padding">
						<div class='row'>
							
							<table class="table table-striped" id='editusertable'>
			                <thead>
			                    <tr>
			                        <th>ID</th>
			                        <th>First Name<div class="fg-line"><input type="text" class="form-control" placeholder="Search Here" /></div></th>
			                        <th>Last Name<div class="fg-line"><input type="text" class="form-control" placeholder="Search Here" /></div></th>
			                        <th>Date of Join</th>
			                        <th>Status</th>
			                        <th style="text-align: center;">Actions</th>
			                    </tr>
			                </thead>
			                <tbody>
			                    <tr>
			                        <td>1</td>
			                        <td>Alexandra</td>
			                        <td>Christopher</td>
			                        <td>01-01-2000</td>
			                        <td>Active</td>
			                        <td>
			                        <p><span><a data-ui-sref="headers.edituserdetails">Edit</a></span>
			                        &nbsp;| &nbsp;
									<span><a href='#'>Delete</a></span> &nbsp;| &nbsp;<a href='#'>Reset Pswd</a></span></p>
									</td>
			                    </tr>
			                    <tr>
			                        <td>2</td>
			                        <td>Rahul</td>
			                        <td>Panday</td>
			                        <td>01-01-2001</td>
			                        <td>Active</td>
			                        <td>
			                        <p><span><a data-ui-sref="headers.edituserdetails">Edit</a></span>
			                        &nbsp;| &nbsp;
									<span><a href='#'>Delete</a></span> &nbsp;| &nbsp;<a href='#'>Reset Pswd</a></span></p>
									</td>
			                    </tr>
			                    <tr>
			                        <td>3</td>
			                        <td>Amaresh</td>
			                        <td>Angadi</td>
			                        <td>01-01-2002</td>
			                        <td>Active</td>
			                        <td>
			                        <p><span><a data-ui-sref="headers.edituserdetails">Edit</a></span>
			                        &nbsp;| &nbsp;
									<span><a href='#'>Delete</a></span> &nbsp;| &nbsp;<a href='#'>Reset Pswd</a></span></p>
									</td>
			                    </tr>
			                    <tr>
			                        <td>4</td>
			                        <td>Pankaj</td>
			                        <td>Tiwari</td>
			                        <td>01-01-2003</td>
			                        <td>Active</td>
			                        <td>
			                        <p><span><a data-ui-sref="headers.edituserdetails">Edit</a></span>
			                        &nbsp;| &nbsp;
									<span><a href='#'>Delete</a></span> &nbsp;| &nbsp;<a href='#'>Reset Pswd</a></span></p>
									</td>
			                    </tr>
			                    <tr>
			                        <td>5</td>
			                        <td>Apeksha</td>
			                        <td>Godbole</td>
			                        <td>01-01-2004</td>
			                        <td>Active</td>
			                        <td>
			                        <p><span><a data-ui-sref="headers.edituserdetails">Edit</a></span>
			                        &nbsp;| &nbsp;
									<span><a href='#'>Delete</a></span> &nbsp;| &nbsp;<a href='#'>Reset Pswd</a></span></p>
									</td>
			                    </tr>
			                </tbody>
			            </table>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
