
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt">
			<!-- <div class="block-header">
				<h2>
					Update Employee List <small></small>
				</h2>
			</div> -->

			<div class="card" data-ng-controller="DatepickerDemoCtrl">
				<div class="card-header">
					<h2>
						Update Customer Program Code(CPC)<small></small>
					</h2>
					<div class="card-body card-padding">
						<div class='row'>
							<div class='col-sm-4'>
								<div class="form-group">
									<span class="input-group-addon"><i class="zmdi zmdi-label zmdi-hc-fw"> </i>Customer Program Code Id </span>
									<div class="fg-line"></div>
								</div>
								
								<div class="form-group">
									<span class="input-group-addon"><i class="zmdi zmdi-functions zmdi-hc-fw"> </i>Customer Program Code Name</span>
									<div class="fg-line"></div>
								</div>
								
								<div class="form-group">
									<span class="input-group-addon"><i class="zmdi zmdi-functions zmdi-hc-fw"> </i>Customer Program Code Type</span>
									<div class="fg-line"></div>
								</div>
								
							</div>	
							
							<div class='col-sm-6'>
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" placeholder="Enter Customer Program Code Id" value='phoenixCPC_Id'>
									</div>	
								</div>
								
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" placeholder="Enter Customer Program Code Name"  value='phoenixCPC_Name'>
									</div>	
								</div>
								
								<div class="form-group">
									<div class="fg-line">
										<input type="text" class="form-control" placeholder="Enter Customer Program Code Type"  value='phoenixCPC_Type'>
									</div>
								
								<br/>
								<br/>
								<div class="form-group">
									<span>
										<button class="btn btn-primary btn-icon-text waves-effect">
										<i class="zmdi zmdi-check-all"></i> Update Customer Program Code</button>
													
										<button class="btn btn-danger btn-icon-text waves-effect">
 										<i class="zmdi zmdi-close"></i> Cancel</button>
									</span>
								</div>
							</div>	
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
