
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt">
			<!-- <div class="block-header">
				<h2>
					Update Employee List <small></small>
				</h2>
			</div> -->

			<div class="card" data-ng-controller="editUserController">
				<div class="card-header">
					<h2>
						Update User Details<small></small>
					</h2>
					<div class="card-body card-padding">

						<!-- Jquery datatable starts -->
						<div class='row'>
							<div class='table-responsive'>
								<div class="input-group">
									<input class="form-control" ng-model="searchText"
										placeholder="Search" type="search" ng-change="search()" /> <span
										class="input-group-addon"> <span
										class="glyphicon glyphicon-search"></span>
									</span>
								</div>
								<table class="table  table-hover data-table myTable">
									<thead>
										<tr>
											<th class="EmpId"><a href="#"
												ng-click="sort('employeeId',$event)">ID <span
													class="{{Header[0]}}"></span>
											</a></th>
											<th class="name"><a ng-click="sort('firstName')"
												href="#"> First Name<span class="{{Header[1]}}"></span>
											</a></th>
											<th class="Email"><a ng-click="sort('lastName')"
												href="#"> Last Name <span class="{{Header[2]}}"></span>
											</a></th>
											<th class="Email">
												<!-- <a ng-click="sort('lastName')" href="#"> --> Date of
												Join <span class="{{Header[3]}}"></span> <!-- </a> -->
											</th>
											<th class="Email"><a
												ng-click="sort('employementStatus')" href="#"> Status <span
													class="{{Header[4]}}"></span>
											</a></th>

											<th class="Email">
												<!-- <a ng-click="sort('lastName')" href="#"> -->
												<a> Actions <span class="{{Header[5]}}"></span>
											</a>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat="item in ItemsByPage[currentPage] | orderBy:columnToOrder:reverse">
											<td>{{item.employeeId}}</td>
											<td>{{item.firstName}}</td>
											<td>{{item.lastName}}</td>
											<td>DOJ</td>
											<td>{{item.employementStatus}}</td>
											<td>
												<p>
													<span><a data-ui-sref="headers.edituserdetails">Edit</a></span>
													&nbsp;| &nbsp; <span><a href='#'>Delete</a></span> &nbsp;|
													&nbsp;<a href='#'>Reset Pswd</a></span>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
								<!-- <ul class="pagination pagination-sm">
									<li ng-class="{active:0}"><a href="#"
										ng-click="firstPage()">First</a></li>
									<li ng-repeat="n in range(ItemsByPage.length)"><a href="#"
										ng-click="setPage()" ng-bind="n+1">1</a></li>
									<li><a href="#" ng-click="lastPage()">Last</a></li>
								</ul> -->
								<ul uib-pagination boundary-links="true" total-items="totalItems"
								ng-model="currentPage" class="pagination-sm"
								previous-text="&lsaquo;" next-text="&rsaquo;"
								first-text="&laquo;" last-text="&raquo;"></ul>
								<!-- <table class='table table-striped' id='myDataTable'>
									<thead>
										<tr>
											<th>ID</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Date of Join</th>
											<th style="max-width:50px;">Status</th>
											<th style="text-align: center;">Actions</th>
										</tr>
									</thead>

									<tbody>
										<tr ng-repeat='user in allUsers  | orderBy:columnToOrder:reverse'>
											<td>{{user.employeeId}}</td>
											<td>{{user.firstName}}</td>
											<td>{{user.lastName}}</td>

											<td>dummy date</td>
											<td>{{user.employementStatus}}</td>
											<td>
												<p>
													<span><a data-ui-sref="headers.edituserdetails">Edit</a></span>
													&nbsp;| &nbsp; <span><a href='#'>Delete</a></span> &nbsp;|
													&nbsp;<a href='#'>Reset Pswd</a></span>
												</p>
											</td>
										</tr>
										

									</tbody>
								</table> -->
							</div>
						</div>
						<!-- Jquery datatable ends -->

					</div>
				</div>
			</div>
		</div>
	</section>
</section>

<script>
	$(document).ready(function() {
		$('#myDataTable').DataTable();
	});
</script>
