
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt">
			<!-- <div class="block-header">
				<h2>
					Update Employee List <small></small>
				</h2>
			</div> -->

			<div class="card" data-ng-controller="editUserController">
				<div class="card-header">
					<h2>
						Update User Details<small></small>
					</h2>
					<div class="card-body card-padding">

						<!-- Jquery datatable starts -->
						<div class='row'>
							<div class='table-responsive'>
								<div class="input-group">
									<input class="form-control" ng-model="searchText"
										placeholder="Search" type="search" ng-change="search()" /> <span
										class="input-group-addon"> <span
										class="glyphicon glyphicon-search"></span>
									</span>
								</div>
								<table class="table  table-hover data-table myTable">
									<thead>
										<tr>
											<th class="EmpId"><a href="#"
												ng-click="sort('employeeId',$event)">ID <span
													class="{{Header[0]}}"></span>
											</a></th>
											<th class="name"><a ng-click="sort('firstName')"
												href="#"> First Name<span class="{{Header[1]}}"></span>
											</a></th>
											<th class="Email"><a ng-click="sort('lastName')"
												href="#"> Last Name <span class="{{Header[2]}}"></span>
											</a></th>
											<th class="Email">
												<!-- <a ng-click="sort('lastName')" href="#"> --> Date of
												Join <span class="{{Header[3]}}"></span> <!-- </a> -->
											</th>
											<th class="Email"><a
												ng-click="sort('employementStatus')" href="#"> Status <span
													class="{{Header[4]}}"></span>
											</a></th>

											<th class="Email">
												<!-- <a ng-click="sort('lastName')" href="#"> --> <a>
													Actions <span class="{{Header[5]}}"></span>
											</a>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat="item in ItemsByPage[currentPage] | orderBy:columnToOrder:reverse">
											<td>{{item.employeeId}}</td>
											<td>{{item.firstName}}</td>
											<td>{{item.lastName}}</td>
											<td>DOJ</td>
											<td>{{item.employementStatus}}</td>
											<td>
												<p>
													<span><a ng-click="edituserdetails(item)">Edit</a></span>
													&nbsp;| &nbsp; <span><a href='#'>Delete</a></span> &nbsp;|
													&nbsp;<a href='#'>Reset Pswd</a></span>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
								<ul class="pagination pagination-sm">
									<li ng-class="{active:0}"><a href="#"
										ng-click="firstPage()">First</a></li>
									<li ng-repeat="n in range(ItemsByPage.length)"><a href="#"
										ng-click="setPage()" ng-bind="n+1">1</a></li>
									<li><a href="#" ng-click="lastPage()">Last</a></li>
								</ul>

							</div>
						</div>

						<div class="row" id="edituser"
							style='border: 1px grey solid !important'>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-account"></i></span>
									<div class="fg-line">
										<input type="text" class="form-control" ng-model='employeeId'
											placeholder="Employee Id">
									</div>
								</div>

								<br>

								<div class="input-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-email"></i></span>
									<!-- zmdi zmdi-local-phone -->
									<div class="fg-line">
										<input type="text" class="form-control" ng-model="emailId"
											placeholder="Email Id">
									</div>
								</div>

								<br>

								<!-- <div class="input-group">
								<span class="input-group-addon"><i
									class="zmdi zmdi-portable-wifi"></i></span>
								<div class="fg-line">
									<input type="text" class="form-control"
										placeholder="Update Status">
								</div>
							</div>
							<br> 
							<br>-->
								<div class="input-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i></span>
									<div class="fg-line">
										<div class="form-group">
											<div class="fg-line">

												<div class="select">
													<select class="form-control" ng-model='designation'>
														<option value=''>Select Designation</option>
														<option value='{{roles.roleid}}'
															ng-repeat='roles in rolesdata'>{{roles.roleName}}</option>

													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i></span>
									<div class="fg-line">
										<div class="form-group">
											<div class="fg-line">

												<div class="select">
													<select class="form-control" name="empstatus"
														ng-model='employeeStatus'>
														<option value=''>Select Status</option>
														<option value='active'>Active</option>
														<option value='inactive'>InActive</option>

													</select>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- <div class="input-group">
								<span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
								<div class="fg-line">
									<input type="text" class="form-control"
										placeholder="Home Address">
								</div>
							</div> -->
							</div>
							<div class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-account"></i></span>
									<div class="fg-line">
										<input type="text" class="form-control" ng-model='firstName'
											placeholder="First Name">
									</div>
								</div>

								<br>

								<div class="input-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-pin-account zmdi-hc-fw"></i></span>
									<!-- zmdi zmdi-local-phone -->
									<div class="fg-line">
										<input type="text" class="form-control" ng-model='loginId'
											placeholder="Employee Login ID">
									</div>
								</div>

								<br>

								<div class="input-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i></span>
									<div class="fg-line">
										<div class="form-group">
											<div class="fg-line">

												<div class="select">
													<select class="form-control" ng-model='managerId'>
														<option value=''>Select Manager</option>
														<option value='{{manager.employeeId}}'
															ng-repeat='manager in managers'>{{manager.firstName}}&nbsp;{{manager.lastName}}</option>

														<!-- 	<option>Lead</option> -->
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>

								<br>
								<div class="input-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i></span>
									<div class="fg-line">
										<div class="form-group">
											<div class="fg-line">

												<div class="select">
													<select class="form-control" ng-model='employeeType'>
														<option value=''>Selct Employee Type</option>
														<option value="FTE">FTE</option>
														<option value="CTE">CTE</option>

													</select>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="col-sm-4">

								<div class="input-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-account"></i></span>
									<div class="fg-line">
										<input type="text" class="form-control"
											placeholder="Last Name" ng-model='lastName'>
									</div>
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-key zmdi-hc-fw"></i></span>
									<!-- zmdi zmdi-money -->
									<div class="form-group">
										<div class="fg-line">
											<input type="password" class="form-control"
												ng-model='loginPassword' placeholder="Employee Password">
										</div>
									</div>
									<!-- <span class="input-group-addon last"><i
									class="zmdi zmdi-plus-circle-o"></i></span> -->
								</div>

								<div class="input-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-home zmdi-hc-fw"></i> </span>
									<div class="form-group">
										<div class="fg-line">
											<input type="text" class="form-control" ng-model='address'
												placeholder="Empoyee Address">
										</div>
									</div>
									<!-- <span class="input-group-addon last"><i
									class="zmdi zmdi-plus-circle-o"></i></span> -->
								</div>
								<br>
								<div class="input-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i></span>
									<div class="fg-line">
										<div class="form-group">
											<div class="fg-line">

												<div class="select">
													<select class="form-control" ng-model='userDepartmentId'>
														<option value=''>Select Department</option>
														<option value='{{department.departmentId}}'
															ng-repeat='department in departments'>{{department.departmentName}}</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							
							<div class='col-sm-4'>
								<div class="form-group">
									<span>
										<button class="btn btn-primary btn-icon-text waves-effect"
											ng-click="updateUser();">
											<i class="zmdi zmdi-check-all"></i>Update
										</button>

										<button class="btn btn-danger btn-icon-text waves-effect"
											ng-click='resetuser()'>
											<i class="zmdi zmdi-close"></i> Reset
										</button>
									</span>
								</div>
							</div>

						</div>





					</div>
				</div>
				<!-- Jquery datatable ends -->

			</div>
		</div>

	</section>
</section>


