
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt">
			<div class="block-header">
				<h2>
					Leave Request/Approval History <small></small>
				</h2>
			</div>
			<div class="card">
				<div class="card-header">
					<h2>
						Leave Summary<small></small>
					</h2>
				</div>

				<div class="table-responsive"
					ng-controller="leavetypehistorytable as leaveupdates">
					<table class="table">
						<thead>
							<tr>
								<th>Leave Type</th>
								<th>Leave Availed</th>
								<th>Leave Pending</th>
								<th>Leave Avalible</th>
							</tr>
						</thead>
						<tbody>
							<tr class="">
								<td>
									<div class="form-group">
										<div class="fg-line">

											<div class="select">

												<!-- <select class="form-control" ng-options="leavetype as size.name for size in sizes"
													ng-model="item" ng-change="update()"></select> -->
												<select class="form-control" ng-change="updatehistorydata()"
													ng-model="confirmed">
													<option value="" disabled="" selected="" class="ng-binding">Please
														select the value</option>
													<option ng-repeat=" x in leaveupdates.riResult.list">{{x.leavetype}}</option>
												</select>

												<!--  <select class="form-control"
													ng-options="leaveupdates.riResult.list as size.leavetype for size in sizes"
													ng-model="selectedItem" ng-change="updatehistorydata()"></select>
 -->
												<!--  <select class="form-control">
													<option value="Select leave type" ng-change="updatehistorydata()" data-ng-repeat="w in leaveupdates.riResult.list">{{w.leavetype}}</option>
													
												</select>  -->

											</div>
										</div>
									</div>
								</td>
								<td><span style="color: orange; font-size: 20px">{{leaveAvaild}}</span></td>
								<td><span style="color: red;font-size: 20px">{{leavepending}}</span></td>
								<td><span style="color: green;font-size: 20px">{{leaveavalible}}</span></td>
							</tr>
							<!-- <tr class="info">
								<td>3</td>
								<td>Sebastian</td>
								<td>Johnston</td>
								<td>@sebastian</td>
								<td>Jaycee</td>
							</tr>
							<tr class="warning c-white">
								<td>4</td>
								<td>Mitchell</td>
								<td>Christin</td>
								<td>@mitchell4u</td>
								<td>AdskiDeAnus</td>
							</tr>
							<tr class="success c-white">
								<td>2</td>
								<td>Madeleine</td>
								<td>Hollaway</td>
								<td>@hollway</td>
								<td>Cheese</td>
							</tr>
							<tr class="danger c-white">
								<td>5</td>
								<td>Elizabeth</td>
								<td>Belkitt</td>
								<td>@belkitt</td>
								<td>Goat</td>
							</tr> -->
						</tbody>
					</table>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h2>
						Leaves Historical data <small></small>
					</h2>
				</div>

				<div class="table-responsive"
					data-ng-controller="leaveHistory as hictrl">
					<table class="table table-condensed">
						<thead>
							<tr>

								<th>EMP ID</th>
								<th>Name</th>
								<th>From Date</th>
								<th>To Date</th>
								<th>Total days</th>
								<th>Leave type</th>
								<th>Status</th>
								<th>Department</th>
								<th>Approved By</th>
							</tr>
						</thead>
						<tbody>
							<tr
								data-ng-repeat="w in hictrl.riResult.list.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
								<td class="f-500 c-cyan">{{ w.id }}</td>
								<td>{{ w.name }}</td>
								<td>{{ w.from_date }}</td>
								<td>{{ w.to_date }}</td>
								<td>{{ w.total_days }}</td>
								<td>{{ w.leavetype }}</td>
								<td>{{ w.status }}</td>
								<td>{{ w.department }}</td>
								<td>{{ w.approvedBy }}</td>
								<!-- <td><button swal-timesheet-success-msg
										class="btn bgm-orange btn-icon waves-effect waves-circle">
										<i class="zmdi zmdi-check"></i>
									</button>&nbsp;&nbsp;|&nbsp;&nbsp;
									<button swal-timesheet-cancel-msg
										class="btn bgm-cyan btn-icon waves-effect waves-circle">
										<i class="zmdi zmdi-close"></i>
									</button></td> -->
							</tr>
						</tbody>
					</table>
					<ul uib-pagination boundary-links="true" total-items="totalItems"
						ng-model="currentPage" class="pagination-sm"
						previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
						last-text="&raquo;"></ul>
				</div>
			</div>

		</div>

	</section>

</section>

<footer id="footer" data-ng-include src="'template/footer.html'"></footer>


