
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt">
			<div class="block-header">
				<h2>
					TimeSheet Request <small></small>
				</h2>
			</div>

			<div class="card" data-ng-controller="DatepickerDemoCtrl">
				<div class="card-header">
					<h2>
						TimeSheet Filling <small></small>
					</h2>
					<div class="card-body card-padding">
						<div class='card-body table-responsive'>
							<table class='table'>
								<thead>
									<tr>
										<th>Employee Id</th>
										<th>Employee Name</th>
										<th>Role</th>
										<th>Designation</th>
										<th>Location</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Emp001</td>
										<td>Rahul Pandey</td>
										<td>UI Development Role</td>
										<td>UI Developer</td>
										<td>Bengaluru</td>
									</tr>
								</tbody>
							</table>
						</div>
						<hr>




						<!-- timesheetContainer starts  -->
						<div id="timesheetContainer">
							<div class='row'>
								<div class='col-md-3'>
									<div class="form-group">
										<div class="fg-line">
											<div class="date-picker input-group dp-blue"
												ng-class="{ 'is-opened': opened == true }">

												<div class="fg-line"
													ng-class="{ 'fg-toggled': opened == true }">
													<input ng-click="open($event, 'opened')" type="text"
														class="form-control" uib-datepicker-popup="{{format}}"
														show-weeks="false" ng-model="dtPopup" is-open="opened"
														min-date="minDate" datepicker-options="dateOptions"
														ng-required="true" close-text="Close"
														placeholder="Select Week" />
												</div>
												<span class="input-group-addon"><i
													class="zmdi zmdi-calendar ma-icon"></i></span>
											</div>
										</div>
									</div>
								</div>
								<div class='col-md-3'>
									<input type="text" class="form-control" placeholder=""
										value='24-04-2017 to 31-04-2017' />
								</div>
								<div class='col-md-6'></div>

							</div>
							<br />
							<!-- timesheet Content 1 starts  -->
							<div class='row' id='timeHead'>
								<div class='col-sm-1'>
									<span style="color: black">All</span>
								</div>
								<div class='col-sm-2'>
									<p>
										<span style="color: green"><i
											class="zmdi zmdi-alarm-add"></i><a id='addworkLog'><span
												style="color: green"> Add</span></a></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span
											style="color: red"><i class="zmdi zmdi-alarm-off"></i></span><a
											id='deleteworklog'><span style="color: red">
												Delete</span></a>
									</p>
								</div>
								<div class='col-sm-2'>
									<p id='deleteWorkLog'>
										<!-- <a><i class="zmdi zmdi-alarm-off"></i> Delete</a> -->
									</p>
								</div>
								<div class='col-sm-7'>
									<p class='text-center'>
										<i class="zmdi zmdi-alarm-add"></i> <span style="color: black">Time</span>
									</p>
								</div>
							</div>
							<div class='rowtimesheet' id="rowtimesheet_1">



								<div class='row timesheetContent' id="newRowContent">
									<div id="timesheetData_1" style="height: 100px">
										<div class='col-sm-6'>
											<div class="col-sm-1" style="padding-left: 0">
												<div class='form-group'>
													<div class="fg-line">
														<label class="checkbox checkbox-inline m-r-20"
															id='checkAll'> <input type="checkbox"
															value="option1"> <i class="input-helper"></i>
														</label>
													</div>
												</div>
											</div>

											<div class="col-sm-3">

												<div class="form-group">
													<div class="fg-line">
														<div class="select">
															<select class="form-control">
																<option>Customer</option>
																<option>Customer Name 1</option>
																<option>Customer Name 2</option>
															</select>
														</div>
													</div>
												</div>
											</div>

											<div class='col-sm-2'>
												<div class="form-group">
													<div class="fg-line">
														<div class="select">
															<select class="form-control">
																<option>Department</option>
																<option>Engineering</option>
																<option>Quality Engineering</option>
																<option>Overhead</option>
															</select>
														</div>
													</div>
												</div>
											</div>

											<div class='col-sm-2'>
												<div class="form-group">
													<div class="fg-line">
														<div class="select">
															<select class="form-control">
																<option>Program</option>
																<option>Product Development</option>
																<option>General Work</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class='col-sm-2'>
												<div class="form-group">
													<div class="fg-line">
														<div class="select">
															<select class="form-control">
																<option>Task</option>
																<option>Research and Development</option>
																<option>Requirement Analysis</option>
																<option>Graphics Design</option>
																<option>Programming</option>
																<option>Testing</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class='col-sm-2'>
												<div class="form-group">
													<div class="fg-line">
														<div class="select">
															<select class="form-control">
																<option>Task Type</option>
																<option>Billable</option>
																<option>Non Billable</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class='col-sm-6'>
											<div class='row' id='timeTable'>
												<div class='col-sm-1'>
													26(Sun)<br />
													<div class="form-group">
														<div class="fg-line">
															<input type="text" class="form-control ng-isolate-scope"
																placeholder="0">
														</div>
													</div>
												</div>

												<div class='col-sm-1'>
													27(Mon)<br />
													<div class="form-group">
														<div class="fg-line">
															<input type="text" class="form-control ng-isolate-scope"
																placeholder="8">
														</div>
													</div>
												</div>

												<div class='col-sm-1'>
													28(Tue)<br />
													<div class="form-group">
														<div class="fg-line">
															<input type="text" class="form-control ng-isolate-scope"
																placeholder="8">
														</div>
													</div>
												</div>


												<div class='col-sm-1'>
													29(Wed)<br />
													<div class="form-group">
														<div class="fg-line">
															<input type="text" class="form-control ng-isolate-scope"
																placeholder="8">
														</div>
													</div>
												</div>

												<div class='col-sm-1'>
													30(Thu)<br />
													<div class="form-group">
														<div class="fg-line">
															<input type="text" class="form-control ng-isolate-scope"
																placeholder="8">
														</div>
													</div>
												</div>

												<div class='col-sm-1'>
													31(Fri)<br />
													<div class="form-group">
														<div class="fg-line">
															<input type="text" class="form-control ng-isolate-scope"
																placeholder="8">
														</div>
													</div>
												</div>

												<div class='col-sm-1'>
													01(Sat)<br />
													<div class="form-group ">
														<div class="fg-line">
															<input type="text" class="form-control ng-isolate-scope"
																placeholder="0">
														</div>
													</div>
												</div>
												<div class='col-sm-5'>
													Total Hours<br /> <br />
													<div class="form-group ">
														<div class="fg-line">
															<span>40 hrs</span>
														</div>
													</div>
												</div>
											</div>
										</div>



									</div>

								</div>
							</div>
							<!-- timesheet Content 1 ends  -->
							<hr />
						</div>
						<div class='row'>
							<div class='col-sm-3'>
								<div class="form-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-border-color zmdi-hc-fw"> </i>Comments : </span>
									<div class="fg-line"></div>
								</div>

							</div>

							<div class="col-sm-6">

								<div class="form-group ">
									<div class="fg-line">
										<input type="text" class="form-control ng-isolate-scope"
											placeholder="Enter your comments here">
									</div>
								</div>
							</div>
							<div class='col-sm-3'>
								<div class="form-group">
									<span>
										<button class="btn btn-primary btn-icon-text waves-effect">
											<i class="zmdi zmdi-check-all"></i> Submit
										</button>

										<button class="btn btn-danger btn-icon-text waves-effect">
											<i class="zmdi zmdi-close"></i> Clear
										</button>
									</span>
								</div>
							</div>

						</div>
						<!-- timesheetContainer ends  -->
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
<script type="text/javascript">
	$(document).ready(
			function() {

				count = 1;
				$("#addworkLog").click(
						function() {
							var divcontent = $('#timesheetData_' + count)
									.html();
							count++;

							$("#newRowContent").append(
									"<div id='timesheetData_"+count+"' style='height: 100px'>"
											+ divcontent + "</div>");
						});

				$('.deleteWorkLog').click(function(e) {
					var deleteId = e.target.id;
					console.log("deleteWorkLog clicked and Id : " + deleteId);
					var deletedDivNo = e.target.id.split("_")[2];
					$('#rowtimesheet_' + deletedDivNo).remove();
					count--;
				});

			});
</script>