
<header id="header" data-current-skin={{mactrl.currentSkin}}
	data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/chat.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">
		<div class="container c-alt">
			<div class="block-header">
				<h2>
					TimeSheet Request <small></small>
				</h2>
			</div>

			<div class="card" data-ng-controller="DatepickerDemoCtrl">
				<div class="card-header">
					<h2>
						TimeSheet Filling <small></small>
					</h2>
					<div class="card-body card-padding">
						<div class='row'>
							<div class="col-sm-4">
								<div class="form-group">
									<span class="input-group-addon"><i class="">Project</i></span>
									<div class="fg-line"></div>
								</div>
								<br/>
								<div class="form-group">
									<span class="input-group-addon"><i class="">Subtask</i></span>
									<div class="fg-line"></div>
								</div>
								<br/>
								<div class="form-group">
									<span class="input-group-addon"><i class="">Select Week</i></span>
									<div class="fg-line"></div>
								</div>
								<br/>
								<div class="form-group">
									<span class="input-group-addon"><i class="">Time</i></span>
									<div class="fg-line"></div>
								</div>
								
								<!-- <br/>
								<div class="form-group">
									<span class="input-group-addon"><i class="">Total Hours</i></span>
									<div class="fg-line"></div>
								</div> -->
								<br/>
								<div class="form-group">
									<span class="input-group-addon"><i class="">Comment</i></span>
									<div class="fg-line"></div>
								</div>
							</div>
							
							<div class="col-sm-8">
							
								<div class="form-group">									
									<div class="fg-line">
										<div class="select">
											<select class="form-control">
												<option>Select Your Project</option>
												<option>Product Development</option>
												<option>General Work</option>
											</select>
										</div>
									</div>
								</div>
								<br/>
								<div class="form-group">									
									<div class="fg-line">
										<div class="select">
											<select class="form-control">
												<option>Select Your Subtask</option>
												<option>Research and Development</option>
												<option>Requirement Analysis</option>
												<option>Graphics Design</option>
												<option>Programming</option>
												<option>Testing</option>
											</select>
										</div>
									</div>
								</div>
								<br/>
								<div class="form-group">	
									<div class="fg-line">
										<div class="date-picker input-group dp-blue"
										ng-class="{ 'is-opened': opened == true }">

										<div class="fg-line"
											ng-class="{ 'fg-toggled': opened == true }">
											<input ng-click="open($event, 'opened')" type="text"
												class="form-control" uib-datepicker-popup="{{format}}"
												show-weeks="false" ng-model="dtPopup" is-open="opened"
												min-date="minDate" datepicker-options="dateOptions"
												ng-required="true" close-text="Close"
												placeholder="Select Week" />
										</div>
										<span class="input-group-addon"><i
											class="zmdi zmdi-calendar ma-icon"></i></span>
									</div>
									</div>
								</div>
								<br/>
								<div class="form-group">
										<div class="table-responsive">
								            <table class="table">
								                <thead>
								                    <tr>
								                        <th>26(Sun)</th>
								                        <th>27(Mon)</th>
								                        <th>28(Tue)</th>
								                        <th>29(Wed)</th>
								                        <th>30(Thu)</th>
								                        <th>31(Fri)</th>
								                        <th>31(Sat)</th>
								                    </tr>
								                </thead>
								                <tbody>
								                    <tr>
								                        <td><input type="text" class="form-control ng-isolate-scope" placeholder="00:00" /></td>
								                        <td><input type="text" class="form-control ng-isolate-scope" placeholder="00:00" /></td>
								                        <td><input type="text" class="form-control ng-isolate-scope" placeholder="00:00" /></td>
								                        <td><input type="text" class="form-control ng-isolate-scope" placeholder="00:00" /></td>
								                        <td><input type="text" class="form-control ng-isolate-scope" placeholder="00:00" /></td>
								                        <td><input type="text" class="form-control ng-isolate-scope" placeholder="00:00" /></td>
								                        <td><input type="text" class="form-control ng-isolate-scope" placeholder="00:00" /></td>
								                    </tr>								                    
								                </tbody>
								            </table>								        
									</div>
								</div>
								<!--<br/>
								<div class="form-group">									
									<div class="fg-line">
									<h5>00:00</h5>
									</div>
								</div>-->
								<br/>
								<div class="form-group">									
									<div class="fg-line">
										<input type="text" class="form-control" placeholder="Add your comments here" />
									</div>
								</div>
								<br/>
								<div class="form-group">
									<span>
										<button class="btn btn-primary btn-icon-text waves-effect">
										<i class="zmdi zmdi-check-all"></i> Done</button>
										
										<button class="btn btn-danger btn-icon-text waves-effect">
										<i class="zmdi zmdi-close"></i> Clear</button>
									</span>
								</div>							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
